

.TopMenu {
    background-color: #F5E9DB;
    border-bottom: 0.3vh solid #313131;
    padding: 1.5vw;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 98vw;
  }

 .logo{
  width: 4vw;
  height: 4vw;
 }