:root {
  --box-width: 2;
  --box-height: 4;
  --box-color: #F5E9DB ;
}



.Blok {
  
    background-color: var(--box-color);
    border: 0.3vh solid #313131;
    border-radius: 1rem;
  
  
    padding: 2vw;
  
  }

