
html {
  text-align: center;
  background-color: #E5D6C5;
}

.App {
  text-align: center;
  background-color: #E5D6C5;
  height: 100vh;

 display: flex;
 flex-direction: column;
 justify-content: start;

}

.page {
  padding: 1vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
 
  display: grid;
  grid-auto-flow: dense;
 
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 7.05vw;
 
  gap: 1vw;
 }


 





